.lead__subtitle {
  font-size: 30px;
  line-height: 1.25;
  max-width: 640px;
  text-align: center;
  margin: 0;
  margin-bottom: 64px;
}

@media (max-width: 767px) {
  .lead__subtitle {
    padding: 0 16px;
    font-size: 16px;
  }
}
