.place__link {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.12;
    align-self: flex-start;
}

.place__link:hover {
    opacity: 0.8;
  }
  
.place__link:active {
    opacity: 0.4;
}
  
.place__link:visited {
    color: #999;
}